/*CSS Index*/
body {
    background-color: teal;
}

h1 {
    color:sandybrown;
}

hr {
    border-color: rebeccapurple;
    border-style: dotted;
    background-color: salmon;
    width: 50%;
}

img {
    border-radius:100px; 
    margin: 24px;
}

/*CSS Portfolio*/
input[type=text] {
    border: none;
    border-bottom: 1px solid purple;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: purple;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
}